apiVersion: apps/v1
kind: Deployment
metadata:
  name: garfield
  labels:
    app: garfield
spec:
  replicas: 4
  selector:
    matchLabels:
      app: garfield
  template:
    metadata:
      labels:
        app: garfield
    spec:
      containers:
        - name: garfield
          image: nginx:latest
          ports:
            - containerPort: 80
          env:
            - name: CUSTOM_MESSAGE
              value: "Hi there it's from argocd number 2"
            - name: VERSION
              value: "1.0.5"
          command: ["/bin/sh"]
          args:
            - -c
            - |
              echo '<!DOCTYPE html>
              <html>
              <body style="font-family:sans-serif;text-align:center;background-color:lightblue;">
              <h1>bla bla</h1>
              <p><b>Hostname:</b> '"$(hostname)"'</p>
              <p><b>Message:</b> '"$CUSTOM_MESSAGE"'</p>
              <p><b>Version:</b> '"$VERSION"'</p>
              </body>
              </html>' > /usr/share/nginx/html/index.html
              exec nginx -g "daemon off;"
